<footer>
  <mat-toolbar color="primary">
    <a> SVILUPPATO DA => </a>
    <!-- <span class="example-spacer"></span> -->
    <a
      href="https://www.linkedin.com/in/cristiano-franco-b633b0167/"
      target="_blank"
    >
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        routerLink="/ShoppingCart"
      >
        <mat-icon>supervisor_account</mat-icon>
      </button>
    </a>
  </mat-toolbar>
</footer>
