.example-spacer {
  flex: 1 1 auto;
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
  /* margin-bottom: 1000px; */
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 3vh 18px #0000001f;
}

mat-menu {
  text-align: center;
}

a {
  text-decoration-color: aliceblue;
  color: white;
}
