/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 90%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-standard {
  margin: 3vh auto;
  /* margin-bottom: 1000px; */
  width: 90%;
  background-color: honeydew;
  padding-top: 5%;
}

.text-center {
  text-align: center;
}

.my-5 {
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.mat-form-field {
  width: 55%;
}

.container-main {
  margin-top: 9vh;
}

@media only screen and (max-width: 768px) {
  .container-main {
    margin-top: 7.5vh;
  }
}
