<div class="container-standard text-center">
  <h2>REGISTRATI SUBITO</h2>

  <div class="form-container">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username </mat-label>
        <input matInput />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint> Inserisci il tuo username </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label> Password</mat-label>
        <input matInput />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>

    <button mat-raised-button color="primary" routerLink="/registrati">
      REGISTRATI SUBITO!
    </button>
  </div>
</div>
